<launch>

  <arg name="save_directory" default="$(env HOME)/datasets/processed/anchors"/>
  <arg name="create_new_anchors" default="true"/>

  <arg name="image_topic" default="/livox/color_sync/image_rect" />
  <arg name="depth_topic" default="/livox/depth" />
  <arg name="camera_info_topic" default="/intel/color/camera_info" />
  
  <arg name="undistort" default="false"/>

  <node pkg="localization" type="ssloc.py" name="self_localization" output="screen">

    <remap if="$(arg undistort)" from="image" to="$(arg image_topic)_rect" />
    <remap unless="$(arg undistort)" from="image" to="$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_info_topic)" />
    <remap from="depth" to="$(arg depth_topic)" />

    <param name="send_unity_pose" value="true" />
    <param name="map_frame_id" value="world"/>  
    <param name="camera_frame_id" value="camera_frame"/>      
    <param name="save_directory" value="$(arg save_directory)" />
    <param name="create_new_anchors" value="$(arg create_new_anchors)" />

  </node>  

</launch>
