<launch>

  <arg name="save_directory" default="$(env HOME)/datasets/22-05-20-StructuresLab-processed/anchors"/>

  <!-- Uncompress HL2 images node -->
  <node pkg="image_transport" type="republish" name="uncompress2" args="compressed in:=/HL2/camera/image out:=/HL2/camera/image_rect" />

  <node pkg="localization" type="ssloc.py" name="self_localization" output="screen">

    <remap from="image_query" to="/HL2/camera/image_rect" />
    <remap from="camera_info_query" to="/HL2/camera/camera_info" />
    <remap from="pose_query" to="/HL2/camera/pose" />

    <remap from="reloc_pose" to="/HL2/camera/reloc_pose" />

    <param name="send_unity_pose" value="true" />
    <param name="map_frame_id" value="world"/>       
    <param name="save_directory" value="$(arg save_directory)" />
    <param name="create_new_anchors" value="false" />

  </node>  

</launch>
